[bumpversion]
current_version = 0.0.0
commit = True
tag = True
tag_name = v{new_version}
message = New release: v{current_version} → v{new_version}

[bumpversion:file:.bumpversion.cfg]

[bumpversion:file:qmk_id.c]
