layout python3

if ! command -v pre-commit &>/dev/null 2>&1; then
    echo "pre-commit not found, installing..."
    python3 -m pip install pre-commit
fi

if [ ! -e .git/hooks/pre-commit ]; then
    pre-commit install
fi
